* {
  font-family: Arial, sans-serif;
}

body {
  background-color: #000000;
  color: #ffffff;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 500px;
}
ul {
  list-style: none;
}
a {
  color: #ffffff;
  text-decoration: none;
}
